# Terraform directories
/.terraform/
/terraform.tfstate
/terraform.tfstate.backup
*.tfstate
*.tfstate.backup
.terraform/
**/.terraform/*

# Crash logs
crash.log

# Local overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore run/ folder
/run/
